---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const pageTitle = "Blog";

---

<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new Astro site!</h2>
	
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id eos accusamus deserunt accusantium dolores nobis alias quisquam architecto ducimus dolore saepe, fuga illum perferendis at nam iusto molestiae repellat?
	</p>

	<ul>
		{allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} /> )}
	</ul>
</BaseLayout>