---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "Blog";

---

<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new Astro site!</h2>
	
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id eos accusamus deserunt accusantium dolores nobis alias quisquam architecto ducimus dolore saepe, fuga illum perferendis at nam iusto molestiae repellat?
	</p>

	<ul>
		{allPosts.map((post) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
	</ul>
</BaseLayout>