---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Website - Blog</title>
	</head>
	<body>
		<Header/>

		<h1>My Astro Site</h1>
		<h1>Blog</h1>
		<h2>... and my new Astro site!</h2>
	  
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id eos accusamus deserunt accusantium dolores nobis alias quisquam architecto ducimus dolore saepe, fuga illum perferendis at nam iusto molestiae repellat?
		</p>

		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
			<li><a href="/posts/post-2/">Post 2</a></li>
			<li><a href="/posts/post-3/">Post 3</a></li>
		</ul>
		<Footer/>

		<script>
			import "../scripts/menu.js";
		</script>
	  </body>
</html>
